@charset "UTF-8";

/* reset */
* {
  margin: 0;
  padding: 0;
}
div,
article,
section,
header,
footer {
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
